<h1>Ngx Datepicker</h1>

<h2>Click</h2>

<button type="button" (click)="datepicker?.goPrev()">Go Prev</button>
<button type="button" (click)="datepicker?.goNext()">Go Next</button>

<div class="container">
  <dd-ngxdatepicker
    #datepicker
    (dateClicked)="date = $event"
  ></dd-ngxdatepicker>

  <div class="container-info">
    <div>
      <h3>(dateClicked)</h3>
      <h4>{{ date }}</h4>
    </div>
  </div>
</div>

<h2>Forms</h2>

<button type="button" (click)="datepicker2?.goPrev()">Go Prev</button>
<button type="button" (click)="datepicker2?.goNext()">Go Next</button>
<div class="container">
  <dd-ngxdatepicker
    #datepicker2
    name="model"
    [(ngModel)]="model"
  ></dd-ngxdatepicker>

  <div class="container-info">
    <div>
      <h3>[(ngModel)]</h3>
      <h4>{{ model }}</h4>
    </div>
  </div>
</div>

<h2>Both</h2>

<div class="container">
  <dd-ngxdatepicker
    name="model2"
    [(ngModel)]="model2"
    (dateClicked)="date2 = $event"
  ></dd-ngxdatepicker>

  <div class="container-info">
    <div>
      <h3>[(dateClicked)]</h3>
      <h4>{{ date2 }}</h4>
    </div>

    <div>
      <h3>[(ngModel)]</h3>
      <h4>{{ model2 }}</h4>
    </div>
  </div>
</div>
